Kannada_Alphabets/
*.npy
.ipynb_checkpoints/
200.jpg
206.jpg
207.jpg
219.jpg
ha.jpg
k1.png
kkk.png
*.h5
*.keras
test_2.png
test_3.png
test.png
wver.jpg
lol.png
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
Untitled3.ipynb